@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-h: 64px;
  --mobile-header-h: 44px;
  --mobile-menu-h: 44px;
  --catalogue-nav-h: 88px;
  --catalogue-header-max-w: 288px;
  --mobile-viewport-h: calc(100dvh - var(--mobile-menu-h));
  --site-header-h: calc(var(--header-h) + var(--catalogue-nav-h));
  --mobile-menu-display: block;
}

@media (min-width: 1024px) and (max-height: 850px) {
  :root {
    --catalogue-header-max-w: 400px;
  }
}

@media (min-width: 1024px) and (min-height: 851px) {
  :root {
    --mobile-menu-display: none;
  }
}

/* 1. Global Font Setup */
body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

@layer base {
  * {
    @apply border-secondary-300;
  }
  html {
    @apply h-dvh overflow-hidden;
  }

  body {
    @apply flex h-dvh flex-col overflow-hidden bg-brand-900 text-brand-100;
  }
}

/* 3. Animations */

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fadeOut 3s forwards;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@layer utilities {
  @media (min-width: 1024px) and (hover: hover) {
    .hide-on-desktop-hover {
      display: none;
    }
  }
}
