@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-h: 64px;
  --catalogue-nav-h: 88px;
  --site-header-h: calc(var(--header-h) + var(--catalogue-nav-h));
  --mobile-menu-h: 64px;
  --mobile-viewport-h: calc(100dvh - var(--mobile-menu-h));
}
/* 1. Global Font Setup */
body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

@layer base {
  /* 2. Global Reset using Colors Palette */
  * {
    /* Sets default border color to your 'Platinum Divider' */
    @apply border-secondary-300;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    /* 'Engineered Purity' Dark Theme as default.
       Background: Brand-700 (The Void)
       Text: Brand-100 (Paper White)
    */
    @apply bg-brand-900 relative min-h-screen text-brand-100;
  }
}

/* 3. Animations */

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fadeOut 3s forwards;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}